body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-image: url("./assets/brownmap-bg.jpg");
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* All a tags */
a {
  color: rgb(171, 216, 171);
}

a:hover {
  color: #fff;
}

/* All form buttons and inputs */
.form-group .btn {
  margin: 10px 0px;
}

.form-select:active, .form-select:focus {
  border-color: none !important;
  box-shadow: none;
  outline: 0 none;
}

.form-control:active, .form-control:focus {
  border-color: none !important;
  box-shadow: none;
  outline: 0 none;
}


/* All headings */
h1, h2, h3 {
  margin-left: 5px;
}


/* All primary buttons */
.btn-primary, .btn-primary:visited {
  color: #fff;
  background-color: green !important;
  border-color: green !important;
}

.btn-primary:hover {
  background-color: rgb(0, 118, 0) !important;
}

.btn-primary:active {
  background-color: green !important;
}


/* Navbar */
.logo-date-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar {
  flex-wrap: wrap;
  background-color: transparent;
}

.navbar-nav {
  flex-direction: row;
  gap: 25px;
}

.time-date {
  margin-right: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}


/* Leaflet Map */
.leaflet-container {
  width: 100%;
  height: 80vh;
  border-radius: 20px;
}


/* Footer */
.footer {
  width: 100%;
}


/* Home Page - City Search Form */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-search-form {
  margin: 20px;
  padding: 40px;
  border-radius: 25px;
  background-color: rgba(53, 50, 46, 0.7);
}

.home-search-form img {
  padding: 20px;
}



/* Home Page - Map & Weather View */
.page-title {
  margin-top: 10px;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.places-list-container {
  overflow-y: scroll;
  height: 24vh;
}

.places-list-container ul {
  list-style: none;
}

.city-search, 
.category-search, 
.places-list-container, 
.card {
  background-color: rgba(53, 50, 46, 0.7);
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.row {
  margin: 1px;
}


/* Near Me Page */
.find-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-me-text {
  margin: 20px;
  padding: 40px;
  border-radius: 25px;
  background-color: rgba(53, 50, 46, 0.7);
}


/* Contact Page */
.feedback {
  display: flex;
  justify-content: center;
}

.feedback-form  {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(53, 50, 46, 0.7);
  margin: 20px;
  padding: 40px;
  border-radius: 25px;
}

.feedback-btn {
  width: fit-content;
}


/* Profile page */

.register-container {
  background-color: rgba(53, 50, 46, 0.7);
  border-radius: 20px;
  padding: 10px;
}

.profile-text {
  background-color: rgba(53, 50, 46, 0.7);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.saved-place {
  background-color: rgba(53, 50, 46, 0.7);
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.saved-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  width: 400px;
  height: 275px;
}

.saved-images {
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: center;
}

.btn-remove {
  color: whitesmoke;
  background-color: rgb(94, 104, 94) !important;
  border-radius: 6px;
}


.weather-text {
  background-color: rgba(53, 50, 46, 0.7);
  padding: 5px 20px 0 30px;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 18.5rem;
  margin: 5px;
}


